<!doctype html>
<title>{% block title %}{% endblock %} | Myapp</title>
<link rel=stylesheet href=/static/style.css type=text/css>
<div class=box>
    <h1><a href=/>Myapp</a></h1>
    <p class=tagline>My app writen for drawing fractal pictures
    {% block body %}{% endblock %}
</div>