{% extends "layout.html" %}
{% block title %}Enter fractal data{% endblock %}
{% block body %}
    <h2>Fractal data</h2>
<hr/>
    <form action="" method=post>
        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <p>Enter, please resolution of picture you want.</p>
        <p>Width:
        <input type=text name=width value="{{ width }}" class=input>
        <p>Height:
        <input type=text name=height value="{{ height }}" class=input>
        <p>Now i need to know what kind of affine conversion do you want.</p>
        <p>We have "lined", "sinusoidal", "spherical", "polar", "heart" and "disc".</p>
        <p>Enter only first letter(in case "s" type second letter too)</p>
        <p>Conversion:
        <input type=text name=conversion value="{{ conversion }}" class=input>
        <p>How do you think, how many affines should I get?</p>
        <p>Affines:
        <input type=text name=affines value="{{ affines }}" class=input>
        <p>And what about points. How many?</p>
        <p>Points:
        <input type=text name=num_points value="{{ num_points }}" class=input>
        <p>At last I need to know, how deep your image should be. Enter number of iterations</p>
        <p>Iterations:
        <input type=text name=iter value="{{ iter }}" class=input>
        <p><input type=submit value="Draw"></p>
    </form>
{% endblock %}
